body{
	background: #263238;
}
.menu_topo{
	margin-top: 18px;
	border-radius: 60px;
	background-color: #A62A2A;
}
#busca, #botaoCadastro{ /* txt e botão */
	margin-top: 28px;
}
#txtBusca{
	width: 90%;
	float: left;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px; 
	padding-left: 20px;
	font-size: 280%;
	border: 2px solid black;
}
#botaoBusca, #botaoCadastro{
	height: 61px;
	border: 2px solid black;
}
#botaoBusca{
	border-radius: 0px;
	width: 10%;
	border-left-width: 0px;
}
#botaoCadastro{
 	border-radius: 25px;
	float: left;
	width: 50%;
}
h1{ /*MENU*/
	font-size: 50px;
	width: 100%;
	border-bottom: 5px solid #A62A2A;
    background-color: lightgrey;
}
#textEspecificacoes{
	float: right;
	font-size: 130%;
	margin-right: 20%;
	margin-top: 30px;
	display: none;
} 
#celulardiv1,#celulardiv2, #celulardiv3, #celulardiv4 {
	border-radius: 10px;
	background: white;
	text-align: left;
	border: 2px solid black;
}
#nomeCelular{
	font-family: serif;
	font-size: 15px;
}
#precoCelular{
	font-size: 20px;
	font-family: serif;
	color: orange;
}
.btnCompra{
	float: right;
	color: black;
}
@media screen and (max-width: 1140px) and (min-width: 0px){
	#busca, #botaoCadastro{ /* txt e botão */
		margin-top: 33px;
	}
	#txtBusca{
		width: 85%;
		height: 50%;
	}
	#botaoBusca{
		width: 15%;
		height: 50px;
	}
	#botaoCadastro{
		width: 55%;
		height: 51px;
	}
}

@media screen and (max-width: 960px) and (min-width: 0px){
	#txtBusca{
		width: 80%;
		height: 50%;
	}
	#botaoBusca{
		width: 20%;
		height: 50px;
	}
	#celulardiv1,#celulardiv2, #celulardiv3, #celulardiv4 {
		border-radius: 10px;
		background: white;
		text-align: left;
		width: 50%;
		border: 2px solid black;
	}
	#botaoCadastro{
		width: 50px;
	}
}